/*
#5d5c61
#379683
#7395ae
#557a95
#b1a296



#0A8393
#CEE7EC
#0C0032
*/

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0c0032;
}
::-webkit-scrollbar-thumb {
  background: #0a8393;
}

body {
  background: linear-gradient(to top, #0a8393, #0c0032);
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
